/*------------------------------------------------------------------
// Root & Variables
------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
    --font-size-h1-mobile: 30px;
    --font-size-h2-mobile: 20px;
    --font-size-h3-mobile: 18px;
    --font-size-h4-mobile: 16px;
    --font-size-h5-mobile: 14px;
    --font-size-h6-mobile: 12px;
    --font-size-p-mobile: 14px;
    --font-size-a-mobile: 12px;

    --line-height-mobile: 1.5;

    --font-size-h1-desktop: 40px;
    --font-size-h2-desktop: 28px;
    --font-size-h3-desktop: 22px;
    --font-size-h4-desktop: 18px;
    --font-size-h5-desktop: 16px;
    --font-size-h6-desktop: 14px;
    --font-size-p-desktop: 14px;
    --font-size-a-desktop: 12px;
    --font-size-small: 10px;

    --line-height-desktop: 1.6;

    --font-family: Arial, sans-serif;
    --font-weight-bold: bold;
    --font-weight-600: 600;
    --font-weight-normal: normal;

    --font-family: 'Poppins', sans-serif;

    --color-primary: #081226;
    --color-primary-light: #686f79;
    --color-white: #fff;
    --color-black: #000;
    --color-light-bg: #fcfbfc;
    --color-light-global: #f1f3f4;
    --color-gray: #e4e9ea;
    --color-gray-light: #cbcdd1;
    --color-font-light: #b8bec0;

    --color-purple: #613686;
    --color-purple-light: #e6e0eb;
    --color-blue: #4f8594;
    --color-blue-light: #e7f4f7;
    --color-green: #2ecc71;
    --color-green-light: #c6ffde;
    --color-red: #c0392b;
    --color-red-light: #ffc0ba;

    --border-radius: 20px;
    --border-radius-small: 10px;
    --cubic-bezier: cubic-bezier(.95,.34,.25,1.01);
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    --section-mb: 60px;
    --section-mb-inner: 40px;
    --section-mb-inner-mobile: 20px;
    --flex-gap: 30px;
}

.dark-mode {
    --color-primary: #fff37a;
    --color-primary-light: #686f79;
    --color-white: #363538;
    --color-black: #000;
    --color-light-bg: #242529;
    --color-light-global: #f1f3f4;
    --color-gray: #37393f;
    --color-gray-light: #cbcdd1;
    --color-font-light: #b8bec0;
}

/*------------------------------------------------------------------
// Headings
------------------------------------------------------------------*/
h1 {
    font-size: var(--font-size-h1-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-h2-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--font-size-h4-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h5 {
    font-size: var(--font-size-h5-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h6 {
    font-size: var(--font-size-h6-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-primary);
}

p {
    font-size: var(--font-size-p-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary-light);
}

a {
    font-size: var(--font-size-a-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-600);
    text-decoration: none;
    color: var(--color-primary);
    text-decoration: underline;
}

@media screen and (max-width: 990px) {
    h1 {
        font-size: var(--font-size-h1-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h2 {
        font-size: var(--font-size-h2-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h3 {
        font-size: var(--font-size-h3-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h4 {
        font-size: var(--font-size-h4-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h5 {
        font-size: var(--font-size-h5-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h6 {
        font-size: var(--font-size-h6-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    p {
        font-size: var(--font-size-p-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-normal);
    }

    a {
        font-size: var(--font-size-a-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-normal);
        text-decoration: none;
        color: #007bff;
    }   
}

/*------------------------------------------------------------------
// GLobals
------------------------------------------------------------------*/
* {
    font-family: var(--font-family) !important;
}

img {
    max-width: 100%;
    height: auto;
}

.container-views .cell-custom-right {
    padding: 40px;
    background: var(--color-light-bg);
    /* border-left: 1px solid var(--color-gray-light); */
}

.grid-x-grid {
    display: grid;
}

.container-views .grid-x-grid {
    display: grid;
    grid-template-columns: 350px 1fr;
}

.container-outter,
.container-custom {
    height: 100%;
}

.section-mb {
    margin-bottom: var(--section-mb-inner);
}

.container-boxed {
    padding: 20px;
}

img {
    border-radius: var(--border-radius);
}

button, a {
    cursor: pointer;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    border: none;
    border-radius: var(--border-radius);
    padding: 15px 40px;
    font-size: var(--font-size-a-desktop);
}
.btn-small {
    max-height: 44px;
}
.btn.btn-full {
    width: 100%;
    text-align: center;
}
.btn.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}
.btn.btn-secondary {
    background-color: var(--color-gray);
}

input {
    /* border: 1px solid var(--color-gray) !important; */
    border: none !important;
    padding: 20px !important;
    border-radius: var(--border-radius-small) !important;
    font-size: var(--font-size-a-desktop) !important;
    margin-bottom: 20px !important;
    box-shadow: none !important;
    background-color: var(--color-light-global) !important;
}
select {
    border: none !important;
    padding-top: 10px !important;
    padding-left: 20px;
    font-size: var(--font-size-a-desktop) !important;
    border-radius: var(--border-radius-small) !important;
    background-color: var(--color-light-global) !important;
    box-shadow: none !important;
    margin-bottom: 20px !important;
}

form button {
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.form-message * {
    font-size: var(--font-size-small);
    margin-bottom: 0;
    font-weight: bold;
}
.form-message section{
    padding: 15px;
    border-radius: var(--border-radius);
    text-align: center;
}
.form-message .form-error-custom section {
    background-color: var(--color-red-light);
}
.form-message .form-error-custom p {
    color: var(--color-red);
}
.form-message .form-success-custom section {
    background-color: var(--color-green-light);
}
.form-message .form-success-custom p {
    color: var(--color-green);
}

.boxed-section {
    background-color: var(--color-white);
    border-radius: var(--border-radius-small);
    padding: 20px 40px;
    box-shadow: var(--box-shadow);
    margin-bottom: 40px;
}

::placeholder { 
    color: var(--color-primary-light);
}
:-ms-input-placeholder { 
    color: var(--color-primary-light);
}
::-webkit-input-placeholder {
    color: var(--color-primary-light);
}
*:focus {
    outline: 1px solid var(--color-primary) !important;
}

hr {
    border-bottom: 1px solid var(--color-gray) !important;
}

@media screen and (max-width: 990px) {
    .section-mb {
        margin-bottom: var(--section-mb-inner-mobile);
    }
}

/*------------------------------------------------------------------
// Page Layout
------------------------------------------------------------------*/
.grid-page-title {
    margin-bottom: 40px;
}

/*------------------------------------------------------------------
// Quill
------------------------------------------------------------------*/
.quill-box {
    display: grid;
    margin-bottom: 20px;
}
.quill-box * {
    background-color: var(--color-light-global) !important;
    border: none !important;
}
.quill-box .ql-toolbar {
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
}
.quill-box .quill-text-area {
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
}
.quill-box * {
    margin: 0;
}

/*------------------------------------------------------------------
// Select2
------------------------------------------------------------------*/
.multi-select-box {
    margin-bottom: 20px;
}
.select2-selection.select2-selection--multiple {
    /* margin-bottom: 20px; */
    background-color: var(--color-light-global) !important;
    border: none !important;
    border-radius: var(--border-radius-small) !important;
}
.select2-selection.select2-selection--multiple .select2-selection__choice__remove {
    margin: 0;
    margin-top: 2px;
}
.select2-selection.select2-selection--multiple .select2-selection__choice {
    background-color: var(--color-gray) !important;
}
.select2-selection.select2-selection--multiple .select2-selection__choice__display {
    font-size: var(--font-size-a-desktop) !important;
}
.select2-search.select2-search--inline textarea {
    display: none !important;
}
.select2-results__option.select2-results__option--selectable {
    font-size: var(--font-size-a-desktop) !important;
}

/*------------------------------------------------------------------
// Custom Loader
------------------------------------------------------------------*/
.custom-loader {
    margin-top: 40px;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.custom-loader i {
    transform: scale(var(--ggs,2)) !important;
}