/*------------------------------------------------------------------
// Root & Variables
------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
    --font-size-h1-mobile: 30px;
    --font-size-h2-mobile: 20px;
    --font-size-h3-mobile: 18px;
    --font-size-h4-mobile: 16px;
    --font-size-h5-mobile: 14px;
    --font-size-h6-mobile: 12px;
    --font-size-p-mobile: 14px;
    --font-size-a-mobile: 14px;

    --line-height-mobile: 1.5;

    --font-size-h1-desktop: 40px;
    --font-size-h2-desktop: 28px;
    --font-size-h3-desktop: 24px;
    --font-size-h4-desktop: 20px;
    --font-size-h5-desktop: 18px;
    --font-size-h6-desktop: 16px;
    --font-size-p-desktop: 16px;
    --font-size-a-desktop: 16px;
    --font-size-small: 12px;

    --line-height-desktop: 1.6;

    --font-family: Arial, sans-serif;
    --font-weight-bold: bold;
    --font-weight-600: 600;
    --font-weight-normal: normal;

    --font-family: 'Inter', sans-serif;

    --color-primary: #081226;
    --color-primary-light: #686f79;
    --color-white: #fff;
    --color-black: #000;
    --color-light-bg: #f1f3f4;
    --color-gray: #e4e9ea;
    --color-font-light: #b8bec0;

    --color-purple: #613686;
    --color-purple-light: #e6e0eb;
    --color-blue: #4f8594;
    --color-blue-light: #e7f4f7;
    --color-green: #2ecc71;
    --color-green-light: #c6ffde;
    --color-red: #c0392b;
    --color-red-light: #ffc0ba;

    --border-radius: 20px;
    --border-radius-small: 10px;
    --cubic-bezier: cubic-bezier(.95,.34,.25,1.01);
    --box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    --section-mb: 60px;
    --section-mb-inner: 40px;
    --section-mb-inner-mobile: 20px;
    --flex-gap: 30px;
}


/*------------------------------------------------------------------
// Headings
------------------------------------------------------------------*/
h1 {
    font-size: var(--font-size-h1-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-size: var(--font-size-h2-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h3 {
    font-size: var(--font-size-h3-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h4 {
    font-size: var(--font-size-h4-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h5 {
    font-size: var(--font-size-h5-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

h6 {
    font-size: var(--font-size-h6-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-bold);
}

p {
    font-size: var(--font-size-p-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-normal);
    color: var(--color-primary-light);
}

a {
    font-size: var(--font-size-a-desktop);
    line-height: var(--line-height-desktop);
    font-weight: var(--font-weight-600);
    text-decoration: none;
    color: var(--color-primary);
    text-decoration: underline;
}

@media screen and (max-width: 990px) {
    h1 {
        font-size: var(--font-size-h1-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h2 {
        font-size: var(--font-size-h2-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h3 {
        font-size: var(--font-size-h3-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h4 {
        font-size: var(--font-size-h4-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h5 {
        font-size: var(--font-size-h5-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    h6 {
        font-size: var(--font-size-h6-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-bold);
    }

    p {
        font-size: var(--font-size-p-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-normal);
    }

    a {
        font-size: var(--font-size-a-mobile);
        line-height: var(--line-height-mobile);
        font-weight: var(--font-weight-normal);
        text-decoration: none;
        color: #007bff;
    }   
}

/*------------------------------------------------------------------
// GLobals
------------------------------------------------------------------*/
* {
    font-family: var(--font-family) !important;
}

img {
    max-width: 100%;
    height: auto;
}

.container-outter,
.container-custom {
    height: 100%;
}

.section-mb {
    margin-bottom: var(--section-mb-inner);
}

.container-boxed {
    padding: 20px;
}

img {
    border-radius: var(--border-radius);
}

.btn {
    border: none;
    border-radius: var(--border-radius);
    padding: 15px 40px;
    font-size: var(--font-size-a-desktop);
}
.btn.btn-full {
    width: 100%;
    text-align: center;
}
.btn.btn-primary {
    background: var(--color-primary);
    color: var(--color-white);
}

input {
    border: 1px solid var(--color-gray) !important;
    padding: 20px !important;
    border-radius: var(--border-radius-small) !important;
    font-size: var(--font-size-a-desktop) !important;
    margin-bottom: 20px !important;
    box-shadow: none !important;
}

form button {
    margin-top: 20px;
    margin-bottom: 40px;
    cursor: pointer;
}

.form-message * {
    font-size: var(--font-size-small);
    margin-bottom: 0;
    font-weight: bold;
}

.form-message section{
    padding: 15px;
    border-radius: var(--border-radius);
    text-align: center;
}
.form-message .form-error-custom section {
    background-color: var(--color-red-light);
}
.form-message .form-error-custom p {
    color: var(--color-red);
}
.form-message .form-success-custom section {
    background-color: var(--color-green-light);
}
.form-message .form-success-custom p {
    color: var(--color-green);
}

::placeholder { 
    color: var(--color-primary-light);
}
:-ms-input-placeholder { 
    color: var(--color-primary-light);
}
::-webkit-input-placeholder {
    color: var(--color-primary-light);
}
*:focus {
    outline: 1px solid var(--color-primary) !important;
}

hr {
    border-bottom: 1px solid var(--color-gray) !important;
}

@media screen and (max-width: 990px) {
    .section-mb {
        margin-bottom: var(--section-mb-inner-mobile);
    }
}